asgiref
Django
django-cloudinary-storage
django-cors-headers
django-filter
djangorestframework
djangorestframework-simplejwt
drf-yasg
gunicorn
Pillow
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv
